<nav>
  <ul>
    <li{% if page.url.startsWith('/qytetet/') %} class="selected" {% endif %}><a class="shimmer" href="/qytetet">Qytetet</a></li>
    <li{% if page.url.startsWith('/eventet/') %} class="selected"{% endif %}><a href="/eventet">Eventet</a></li>
    <li{% if page.url.startsWith('/posts/') %} class="selected"{% endif %}><a href="/posts">Media</a></li>
    <li{% if page.url.startsWith('/nismat/') %} class="selected"{% endif %}><a href="/nismat">Nismat</a></li>
    <li{% if page.url.startsWith('/ekipet/') %} class="selected"{% endif %}><a href="/ekipet">Ekipet</a></li>
    <li{% if page.url.startsWith('/rrethnesh/') %} class="selected"{% endif %}><a href="/rrethnesh">Rreth nesh</a></li>
  </ul>
</nav>
