    <meta property="og:url" content="https://illyrianbrains.dev/" />
    <meta property="og:title" content="IllyrianBrains Network 🌟 Rrjet ne me shume se 30 qytete." />
    <meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}IllyrianBrains Network - rrjeti i profesionistëve shqipfolës.{%- endif -%}" />
