<div>
    <div >
        <h2>{{ group.name }}</h2>
        <p class="group-description">{{ group.description | safe }}</p>

        <ul class="card-s-grid">
            {% for person in group.members %}
                {% if loop.index0 < 19%}
                    <li>
                        <img src="https://forum.illyrianbrains.dev{{ person.avatar }}" alt="{{ person.name }}">
                        <div>
                            <a style="text-decoration: none;" href="https://forum.illyrianbrains.dev/u/{{ person.username }}" target="_blank">
                                <b>{{ person.name }}</b>
                            </a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

            {% if group.members.length > 19 %}
                <li>
                    <a href="https://forum.illyrianbrains.dev/g/{{ group.slug }}" target="_blank"
                        style="display: block; text-align: center; font-size: 2em; padding-top: 1.5rem;">
                        {{group.members.length - 19}}+
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>