---
layout: layouts/base.njk
css:
- articles.css
- talk.css
---

{% set eventCategories = ['HappyHours', 'Webinare', 'Ndryshe'] %}
{% set bgColors = ['rgba(244, 224, 124, 0.29)', 'rgba(193, 225, 220, 0.29)', 'rgba(231, 200, 221, 0.29)'] %}

<section class="talks">
  <header>
    <h1 class="sectionTitle" data-content="Eventet">
    <span id="count">Eventet</span></h1>
  </header>

  {% for slug, category in forum_posts %}
    {% if slug in eventCategories %}
      {% set index = eventCategories.indexOf(slug) %}
      {% set bg = bgColors[index % bgColors.length] %}

      <div class="card-wrapper" style="background-color: {{ bg }};">
          <!-- Right column: posts -->
          <div>
            {% include "partialGroups/forumEventCategory.njk" %}
          </div>
      </div>
      <br><br>
    {% endif %}
  {% endfor %}
</section>

<br><br><br>
