
  <div class="section nebula-hero">
    <div class="container development-hero w-container">
      <div class="w-layout-grid nebula-hero-grid">
        <div id="w-node-_4ee1fd18-60de-8c24-1a0d-a56e1aa7476d-76d01b0e" class="nebula-hero-text">
          <div class="text b32">
            <h1 class="heading-xxxl nebula-hero">Where your <span class="green">development</span><span> journey
                begins</span></h1>
          </div>
          <div class="text b48 max540">
            <p class="body-p large align-change">Nova enables Top Talent to grow into the most demanded careers and
              solve the world's most pressing challenges.</p>
          </div>
          <div class="button-wrapper responsive-center"><a href="#programs" class="button big w-button w--current">See
              the programs</a></div>
        </div>
      </div>
    </div>
    <div class="nebula-hero-overlay" style="will-change: opacity; opacity: 1;"></div>
  </div>
  <div data-w-id="cc931a44-c335-b286-3de2-e16dd0afc105" class="section extra-top">
    <div class="container w-container">
      <div class="logo-module-wrapper">
        <div class="b32">
          <div class="text center">
            <div class="heading-sm no-change">Our instructors work at</div>
          </div>
        </div>
        <div class="w-layout-grid home-logo-grid">
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/6230a661a1120f9cae9e2fa5_google-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/671742000cd06acd255cb45b_linkedin-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/67174200b5aceca850dd2825_revolut-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/61c2f3486447c6ab88e92ea5_bcg-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/6230a661a05ff57de9d4bf32_payflow-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/67174200405ada01bddc355b_colvin-nova-talent-color.png"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/6230a6610f2789866faf3dd9_barclays-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/67174200e729b144f199dcce_morgan-stanley-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/67174200534ffdffeb4e1926_merrill-nova-talent-color.svg"
              loading="lazy" alt="" class="brand-logo"></div>
          <div class="logo-div"><img
              src="Nova%20-%20Development%20Programs_files/67174200cc44cb8b3160b74d_tscfo-nova-talent-color.png"
              loading="lazy" id="w-node-_95e885aa-b064-2c2c-619f-d6c978343f96-76d01b0e" alt="" class="brand-logo"></div>
        </div>
      </div>
    </div>
  </div>