<section class="section extra-bottom">
    <div class="w-layout-blockcontainer container w-container">
        <div class="text center _800">
            <h2 class="heading-xxl"> Pyetje dhe <span class="green">përgjigje</span>!</h2>
        </div>
        <div data-current="Si funksionon" data-easing="ease" data-duration-in="300" data-duration-out="100"
            class="home-tabs w-tabs">
            <div class="tabs-menu-2 w-tab-menu">
                <a data-w-tab="Si funksionon" class="home-tab w-inline-block w-tab-link w--current">
                    <div>Si funksionon IllyrianBrains?</div>
                </a>
                <a data-w-tab="Antarsimi" class="home-tab w-inline-block w-tab-link">
                    <div>Si të bëhesh pjesë?</div>
                </a>
                <a data-w-tab="Pagesa" class="home-tab w-inline-block w-tab-link">
                    <div>A ka kosto?</div>
                </a>
            </div>
            <div class="tabs-content-4 w-tab-content">

                <div data-w-tab="Si funksionon" class="w-tab-pane w--tab-active">
                    <div class="text b32">
                        <div class="heading-xl">Si funksionon IllyrianBrains?</div>
                    </div>
                    <div class="text">
                        <div class="body-p">IllyrianBrains është një komunitet bashkëpunimi për profesionistët shqiptarë kudo në botë. Qëllimi është të ndajmë njohuri, të nxisim bashkëpunime dhe të ndërtojmë lidhje kuptimplota përmes aktiviteteve si evente lokale, diskutime online, dhe projekte të përbashkëta.</div>
                    </div>
                </div>

                <div data-w-tab="Antarsimi" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Si të bëhesh pjesë?</div>
                    </div>
                    <div class="text">
                        <div class="body-p">Të bëhesh pjesë e IllyrianBrains është shumë e thjeshtë! Mjafton të regjistrohesh në platformën tonë, të prezantohesh në një nga temat e forumit dhe të marrësh pjesë në një event ose diskutim. Ne vlerësojmë përfshirjen aktive dhe kontributin në komunitet më shumë se çdo kriter tjetër.</div>
                    </div>
                </div>

                <div data-w-tab="Pagesa" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">A ka kosto?</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                        Jo. IllyrianBrains është një nismë komunitare dhe nuk ka asnjë tarifë anëtarësimi. Pjesëmarrja është falas dhe e hapur për të gjithë ata që dëshirojnë të kontribuojnë, të mësojnë dhe të bashkëpunojnë me profesionistë të tjerë shqiptarë.</div>
                    </div>
                    <br>
                    <div class="text">
                        <div class="body-p">Disa evente specifike mund të kenë kosto pjesëmarrjeje për të mbuluar shpenzime logjistike, por gjithmonë me transparencë të plotë dhe mundësi bursash kur është e mundur.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
