<section id="leaders" class="section extra-bottom">
  <div class="container w-container">
    <div class="text center b32 _800">
      <h2 class="heading-xxl"><strong></strong><span class="green"><strong>Përfaqësia</strong> </span> zhvillon vizionin</h2>
    </div>
    <div class="text center _640 b96">
      <p class="body-p large">
        Të përzgjedhurit nga organizatorët për të ndjekur strategjinë e IB, vlerësuar propozimet, dhe koordinuar bashkëpunimet.
      </p>
    </div>
    <div class="w-dyn-list">
      <div role="list" class="leader-grid w-dyn-items">
        {% for person in forum_perfaqesia %}
        <div role="listitem" class="w-dyn-item">
          <a href="https://forum.illyrianbrains.dev/u/{{ person.username }}" target="_blank" class="leader-card w-inline-block">
            <div class="leader-image"
                 style="background-image:url('https://forum.illyrianbrains.dev{{ person.avatar }}')">
            </div>
            <div class="text b8">
              <h3 class="heading-sm">{{ person.name }}</h3>
            </div>
            <div class="text secondary">
              <div class="body-p">Përfaqësia</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
