
    <div class="section new-home-hero">
        <div class="container w-container">
            <div class="text center b32 _360-mobile">
                <h2 class="heading-xxxl">Krijo <span class="green">miqësi</span> të reja!</h2>
            </div>
            <div class="text center _640">
                <p class="body-p large">IllyrianBrains është rrjeti që bashkon profesionistët shqipfolës për të ndarë
                    kohë cilësore, gjetur mundësi, dhe për tu zhvilluar.</p>
            </div>
            <br><br>

            <div data-w-id="1906a667-9e08-a436-1292-419ddc96ae35" class="button-wrapper center">
                <a href="#" target="_blank" class="button big w-button">
                    Evente pranë teje?</a>
                <a href="https://forum.illyrianbrains.dev" target="_blank"
                    class="button big w-button">Më shumë rreth nesh!</a>
            </div>
        <br><br><br><br>
    </div>
    

    <section class="section">
        <div class="collection-slider w-dyn-list">
            <div role="list" class="slider-items-wrapper w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <div class="event-card">
                        <div style="background-image:url(assets/img/gallery-IB/pic1.jpeg)"
                            class="event-card-image"></div>
                        <div class="event-card-content">
                            <div class="text-div white">
                                <div class="heading-sm">Evente me persona të angazhuar prej kohësh në komunitet.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="event-card">
                        <div style="background-image:url(assets/img/gallery-IB/pic2.jpeg)"
                            class="event-card-image"></div>
                        <div class="event-card-content">
                            <div class="text-div white">
                                <div class="heading-sm">Takime spontane në qytetet tuaja. Organizojeni ju një!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="event-card">
                        <div style="background-image:url(assets/img/gallery-IB/pic3.jpeg)"
                            class="event-card-image"></div>
                        <div class="event-card-content">
                            <div class="text-div white">
                                <div class="heading-sm">Takoni organizatorët dhe gjeni një mënyrë se si të kontribuoni.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div class="event-card">
                        <div style="background-image:url(assets/img/gallery-IB/pic4.jpeg)"
                            class="event-card-image"></div>
                        <div class="event-card-content">
                            <div class="text-div white">
                                <div class="heading-sm">Hapësirë për të gjithë të kontribuojnë për komunitete shqipfolëse!</div>
                            </div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-embed">
            <style>
                /*width*/
                .slider-items-wrapper::-webkit-scrollbar {
                    width: 6px;
                }

                /*track*/
                .slider-items-wrapper::-webkit-scrollbar-track {
                    background: rgba(9, 14, 18, 1.0);
                    border-radius: 8px;
                }

                /*thumb*/
                .slider-items-wrapper::-webkit-scrollbar-thumb {
                    background: rgb(19, 28, 36);
                    border-radius: 8px;
                    border-width: 4px;
                    border-style: solid;
                    border-color: rgb(9, 14, 18);
                }
            </style>
        </div>

    </section>
