
<section class="section extra-bottom">
    <div class="w-layout-blockcontainer container w-container">
        <div class="text center _800">
            <h2 class="heading-xxl">  <span class="green">Historiku</span> i IB!</h2>
        </div>
        <div data-current="Nisma" data-easing="ease" data-duration-in="300" data-duration-out="100"
            class="home-tabs w-tabs">
            <div class="tabs-menu-2 w-tab-menu">
                <a data-w-tab="Nisma" class="home-tab w-inline-block w-tab-link w--current">
                    <div>2020-2022 - Nisma</div>
                </a>
                <a data-w-tab="Zhvillimi" class="home-tab w-inline-block w-tab-link">
                    <div>2022-2024 - Zhvillimi</div>
                </a>
                <a data-w-tab="Maturimi" class="home-tab w-inline-block w-tab-link">
                    <div>2024-2026 - Maturimi</div>
                </a>
                <a data-w-tab="Më tej" class="home-tab w-inline-block w-tab-link">
                    <div>Më tej</div>
                </a>
            </div>
            <div class="tabs-content-4 w-tab-content">

                <div data-w-tab="Nisma" class="w-tab-pane w--tab-active">
                    <div class="text b32">
                        <div class="heading-xl">Nisma</div>
                    </div>
                    <div class="text">
                        <div class="body-p">IllyrianBrains nisi si një ide e thjeshtë për të lidhur profesionistët shqiptarë përtej kufijve gjeografikë. Përmes takimeve informale dhe bisedave të para online, u krijuan bazat e një komuniteti të hapur dhe të përkushtuar.</div>
                    </div>
                </div>

                <div data-w-tab="Zhvillimi" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Zhvillimi</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                        Gjatë kësaj periudhe komuniteti u zgjerua ndjeshëm. U organizuan evente në qytete të ndryshme, u krijuan grupe tematike dhe platformat tona online u bënë më të strukturuara për të përkrahur rritjen e bashkëpunimeve.
                        </div>
                    </div>
                </div>

                <div data-w-tab="Maturimi" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Maturimi</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                        IllyrianBrains tashmë është një pikë referimi për profesionistët shqiptarë në shumë fusha. Me një kulturë bashkëpunimi të konsoliduar, nisma ka hyrë në një fazë të re ku qëndrueshmëria, ndikimi dhe rrjetëzimi janë prioritetet tona.</div>
                    </div>
                </div>

                <div data-w-tab="Më tej" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Më tej</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Bashkohu me ne, edhe ndaj vizionin tënd për IB.
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
