
  <div class="section extra-bottom">
  <div class="container w-container">
    <div class="container b48">
      <div class="text center b32">
        <h2 class="heading-xxl">Shto <span class="green">qytetin tënd</span> në hartë!</h2>
      </div>
      <div class="text center _640">
        <p class="body-p large">
          Të bëhesh pjesë e komunitetit tonë është e thjeshtë - ndiq hapat e mëposhtëm dhe organizo takimin tënd të parë!
        </p>
      </div>
    </div>
    <div class="steps-wrapper">
      <div class="join-progress-bar">
        <div class="join-progress-green"
          style="width: 99.9524%; height: 8px; will-change: width, height;"></div>
      </div>
      <div class="w-layout-grid steps-grid">

        <!-- Step 1 -->
        <div class="number-card-wrapper">
          <div class="number-circle" style="background-color: rgb(14, 176, 164);">
            <div class="heading-sm green join" style="color: rgb(255, 255, 255);">1</div>
          </div>
          <div class="step-content">
            <div class="text center">
              <h3 class="heading-md">Na kontakto</h3>
            </div>
            <div class="text center">
              <div class="body-p">Shkruaj na për të shprehur interesin tënd dhe për të ndarë idetë e tua për një HappyHour në qytetin tënd.</div>
            </div>
          </div>
        </div>

        <!-- Step 2 -->
        <div class="number-card-wrapper">
          <div class="number-circle" style="background-color: rgb(14, 176, 164);">
            <div class="heading-sm green join" style="color: rgb(255, 255, 255);">2</div>
          </div>
          <div class="step-content">
            <div class="text center">
              <h3 class="heading-md">Ndiq sugjerimet</h3>
            </div>
            <div class="text center">
              <div class="body-p">Do të të dërgojmë template dhe udhëzime të thjeshta për të përgatitur eventin tënd të parë me sukses.</div>
            </div>
          </div>
        </div>

        <!-- Step 3 -->
        <div class="number-card-wrapper">
          <div class="number-circle" style="background-color: rgb(14, 176, 164);">
            <div class="heading-sm green join" style="color: rgb(255, 255, 255);">3</div>
          </div>
          <div class="step-content">
            <div class="text center">
              <h3 class="heading-md">Organizo eventin</h3>
            </div>
            <div class="text center">
              <div class="body-p">Zgjidh datën, vendin dhe fto komunitetin tënd lokal për një HappyHour me vlerë.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

