  <div class="section">
    <div class="container w-container">
      <div class="text center b32 _800">
        <h2 class="heading-xxl"> <span class="green">Talent</span></h2>
      </div>
      <div class="text center _640 b72">
        <p class="body-p large">Top
          talent who fit your culture can be up to 8x more productive* than an
          average performer. Novas make the difference between growth and
          stagnation. Are you ready to hire Novas? <br>If so, we are here to help.</p>
      </div>
      <div class="w-layout-grid vp-card-grid">
        <div class="vp-card">
          <div class="card-icon-div"><img src="Nova%20-%20Why%20Nova_files/61cde62ec237ed6ce7ddcf8e_quality-alt.svg"
              loading="lazy" alt="" class="card-icon"></div>
          <div class="text">
            <h3 class="heading-md">Quality</h3>
          </div>
          <div class="text">
            <p class="body-p">Access a pre-vetted pool of talent and focus your resources on attracting and hiring only
              the very best.</p>
          </div>
        </div>
        <div class="vp-card">
          <div class="card-icon-div"><img src="Nova%20-%20Why%20Nova_files/61cde52e7d74a75b5d897cec_efficiency-alt.svg"
              loading="lazy" alt="" class="card-icon"></div>
          <div class="text">
            <h3 class="heading-md">Efficiency</h3>
          </div>
          <div class="text">
            <p class="body-p">Reduce your time and cost per hire significantly leveraging our unique data and our
              members' trust.</p>
          </div>
        </div>
        <div class="vp-card">
          <div class="card-icon-div"><img src="Nova%20-%20Why%20Nova_files/619b74cd406656aba275f4e5_efficiency.svg"
              loading="lazy" alt="" class="card-icon"></div>
          <div class="text">
            <h3 class="heading-md">Recurrency</h3>
          </div>
          <div class="text">
            <p class="body-p">Become top of mind, build your Employer Brand while hiring and creating a pipeline of the
              most demanded profiles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>