<section class="section extra-bottom">
    <div class="w-layout-blockcontainer container w-container">
        <div class="text center _800">
            <h2 class="heading-xxl"><span class="green">Vendimmarrja</span> në IB!</h2>
        </div>
        <div data-current="Parimet" data-easing="ease" data-duration-in="300" data-duration-out="100"
            class="home-tabs w-tabs">
            <div class="tabs-menu-2 w-tab-menu">
                <a data-w-tab="Parimet" class="home-tab w-inline-block w-tab-link w--current">
                    <div>Parimet</div>
                </a>
                <a data-w-tab="Kontribuesit" class="home-tab w-inline-block w-tab-link">
                    <div>Kontribuesit</div>
                </a>
                <a data-w-tab="Organizatorët" class="home-tab w-inline-block w-tab-link">
                    <div>Organizatorët</div>
                </a>
                <a data-w-tab="Përfaqësia" class="home-tab w-inline-block w-tab-link">
                    <div>Përfaqësia</div>
                </a>
                <a data-w-tab="Ekipet" class="home-tab w-inline-block w-tab-link">
                    <div>Ekipet e punës</div>
                </a>
                <a data-w-tab="Ruajtësit" class="home-tab w-inline-block w-tab-link">
                    <div>Ruajtësit e IB</div>
                </a>
            </div>
            <div class="tabs-content-4 w-tab-content">

                <div data-w-tab="Parimet" class="w-tab-pane w--tab-active">
                    <div class="text b32">
                        <div class="heading-xl">Parimet</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Vendimmarrja në IllyrianBrains është e ndarë dhe e bazuar në përfaqësim, autonomi dhe kontribut vullnetar. Secili rol ka një funksion të qartë që ndihmon në balancimin midis orientimit strategjik dhe veprimit praktik në komunitet.
                        </div>
                    </div>
                </div>

                <div data-w-tab="Përfaqësia" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Roli i Përfaqësisë</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Përfaqësia është përgjegjëse për krijimin e një roadmap-i të përgjithshëm për IllyrianBrains, duke përcaktuar drejtimet strategjike dhe prioritetet për komunitetin. Ata ndihmojnë në koordinimin e përgjithshëm dhe vendosin bazat për orientimin afatmesëm dhe afatgjatë.
                        </div>
                    </div>
                </div>

                <div data-w-tab="Organizatorët" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Roli i Organizatorëve</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Organizatorët përfaqësojnë qytetet ku organizojnë aktivitete dhe veprojnë në mënyrë autonome. Ata sjellin në vëmendje sfidat dhe mundësitë lokale dhe kontribuojnë në jetësimin e komunitetit në terren.
                        </div>
                    </div>
                </div>

                <div data-w-tab="Ekipet" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Roli i Ekipeve të Punës</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Ekipet e punës janë të përqendruara në mirëmbajtjen dhe zhvillimin e rrjetit, qoftë në aspektin teknik, organizativ apo përmbajtësor. Ata sigurojnë që IB të funksionojë me efikasitet dhe që mjetet e komunitetit të përmirësohen vazhdimisht.
                        </div>
                    </div>
                </div>

                <div data-w-tab="Ruajtësit" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Roli i Ruajtësve</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Ruajtësit kanë për detyrë të ruajnë vlerat thelbësore të IllyrianBrains. Ata ndërhyjnë në diskutime që ndikojnë në identitetin dhe qëndrueshmërinë e komunitetit në kohë të gjatë, duke kujtuar qëllimet dhe parimet themelore.
                        </div>
                    </div>
                </div>

                <div data-w-tab="Kontribuesit" class="w-tab-pane">
                    <div class="text b32">
                        <div class="heading-xl">Roli i Kontribuesve</div>
                    </div>
                    <div class="text">
                        <div class="body-p">
                            Kontribuesit ndajnë përvojat e tyre në grupet përkatëse, përfshihen në nisma tematike dhe profesionale, dhe ndihmojnë në krijimin e një atmosfere pozitive dhe të hapur për bashkëpunim. Ata janë zemra e energjisë që mban komunitetin aktiv.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
