---
layout: layout.njk
title: "Misioni"
---
  <br><br><br><br>

  {% include "blocks/manifesto.njk" %}
  <br><br><br><br>

  {% include "blocks/historiku.njk" %}
  <br><br><br><br>

  {% include "blocks/forum_perfaqesia.njk" %}
  <br><br><br><br>

  {% include "blocks/vendimmarrja.njk" %}
  <br><br><br><br>

  {% include "blocks/forum_ekipi.njk" %}
  <br><br><br><br>

