---
layout: layouts/base.njk
css:
- history.css
- articles.css
- posts.css
---

{% set bgColors = ['rgba(244, 224, 124, 0.49)', 'rgba(193, 225, 220, 0.49)', 'rgba(246, 214, 173, 0.49)', 'rgba(208, 231, 183, 0.49)', 'rgba(231, 200, 221, 0.49)'] %}

<section class="history">
  <header>
    <h1>
      <span id="count">Rreth nesh</span></h1>
  </header>

  <div class="program-section" style="background-color: {{ bgColors[0] }}; padding: 2rem 2rem; border-radius: 10px; margin-bottom: 3rem;">
    <div class="col">
      <div style="flex: 1 1 45%;">
        <h2>Manifesto</h2>
        <p>
          IllyrianBrains është një rrjet që ndihmon në ndërtimin e urave të komunikimit ndërmjet
          profesionistëve shqiptarë, kudo që ndodhen. 

          <br><br>
          Nëpërmjet aktiviteteve profesionale, kulturore dhe shoqërore, ne krijojmë hapësira
          ku mund të ndash ide, të kërkosh informacion, të gjesh miq, dhe të
          angazhohesh në nisma që tentojnë të zhvillojnë anëtarët. Ne jemi një rrjet i hapur,
          ku secili mund të kontribuojë dhe të marrë pjesë në mënyrë aktive.

          <br><br>
          E kuptojmë se jemi të ndryshëm, por besojmë se ndarja e vlerave të përbashkëta
          na bën më të fortë. Besojmë se forca e një rrjeti qëndron në parime të qarta dhe
          marrëdhënie të shëndetshme midis të barabartësh.
          
          <br><br>
          Synojmë harmoninë, që të frymëzojmë
          një kulturë që sfidon koncepte të vjetra, fuqizon komunitete dhe çmon arritjet e gjithësecilit.
          Kemi besim tek profesionistët shqiptarë dhe tek potenciali i tyre për të ndikuar pozitivisht
          në shoqëritë ku jetojnë, duke kontribuar në mënyrë aktive në zhvillimin e tyre.

          <br><br>
          IllyrianBrains është një ftesë për t'u zhvilluar, për të ndarë dije dhe për të ndërtuar
          një jetë më të pasur e më të plotë — së bashku me miq që ndajnë të
          njëjtat sfida dhe vlera.
        </p>

      </div>
      <div style="flex: 1 1 45%;">
        <h2>Historiku</h2>
        <p>
          <strong>Nisma:</strong> IllyrianBrains Network nisi në vitin 2020 si një nismë e
          thjeshtë për të lidhur profesionistët shqiptarë përtej kufijve gjeografikë.
          Fillimisht u krijuan takime informale online që u shndërruan në hapësira bashkëpunimi.
        </p>

        <p>
          <strong>Zhvillimi:</strong> Gjatë viteve 2022–2024, rrjeti u zgjerua në mënyrë të natyrshme:
          qytetet filluan të organizonin aktivitete lokale, grupet tematike u konsoliduan dhe
          platformat digjitale u zhvilluan për të mbështetur bashkëpunimin. 
        </p>

        <p>
          <strong>Maturimi:</strong> Sot, IllyrianBrains është në një fazë të maturimit, ku përfaqësimi, përkujdesja ndaj vlerave dhe ndërtimi i partneriteteve afatgjata janë prioritete qendrore.
        </p>
        <h2>Qartësime</h2>
        <p>
          IllyrianBrains nuk është: <br>
          - organizatë politike; e brendshme apo e jashtme, nacionaliste apo e çfarëdolloji; </br>
          - organizatë fitimprurëse, nuk angazhohet në asnjë lloj aktiviteti që synon të gjenerojë të ardhura; </br>
          - organizatë fetare apo spirituale. </br>

    </p>
  </div>

</div>
</section>

<br><br><br>

<section class="history">

<header>
  <h1>
    <span>Origjina</span></h1>
</header>

<div class="program-section" style="background-color: {{ bgColors[1] }}; padding: 2rem 2rem; border-radius: 10px; margin-bottom: 3rem;">
  <div class="col">

    <div style="flex: 1 1 45%;">
      <h2>Kontribuesit</h2>
      <p>
        Si një lum me burime nga vise të shumta, ne jetojmë realitete të ndryshme, por ndajmë një
        një kulturë që nxit mirëkuptimin, bashkëpunimin dhe rritjen. 

        </p>
      {% include 'maps/map_origin.njk' %}
    </div>
    <div style="flex: 1 1 45%;">

      <h2>Lidhja me rrënjët</h2>
      <p>
         Ne vlerësojmë lidhjen me rrënjët tona dhe historinë e përbashkët.  Në vijim, do të
         kërkojmë mënyra se si mund të kontribuojmë në mënyrë të qëndrueshme në
          rritjen e rolit të profesionistëve në hapësirën publike shqipfolëse.
        </p>
      <p>
          Kjo lidhje me rrënjët është thelbësore për ne — jo vetëm për të ruajtur identitetin,
          por për të ndërtuar ura reale mes përvojave tona dhe komuniteteve që na kanë formuar.
        </p>

      <h2>Roli i diasporës</h2>
      <p>
          Besojmë se me mundësitë që ka diaspora, ka shumë vlera që mund të jenë të dobishme për komunitetet shqiptare. 
          <br><br>
          Profesionalizmi, përvoja jashtë vendit, dhe praktikat që sjellin me vete anëtarët e diasporës janë një pasuri për rrjetin tonë. 
          Transferimi i dijes, këshillimi dhe ndarja e mjeteve janë pjesë natyrale e angazhimit në IllyrianBrains.
        </p>

    </div>
  </div>
</div>
</section>

<br><br><br>

<section class="history">

<header>
  <h1>
    <span>Vendimmarrja</span></h1>
</header>
<div class="program-section" style="background-color: {{ bgColors[2] }}; padding: 2rem 2rem; border-radius: 10px; margin-bottom: 3rem;">
  <div class="col">
    <div style="flex: 1 1 45%;">
      <h2>Rolet</h2>
      <p>
          Vendimmarrja në IllyrianBrains bazohet në parime të autonomisë, përfaqësimit dhe kontributit vullnetar.
          <br><br>
        <a href="#">Organizatorët</a> veprojnë në mënyrë autonome në qytetet e tyre, duke organizuar aktivitete dhe duke sjellë në fokus sfidat dhe mundësitë lokale. Roli i tyre përfshin dhe moderimin dhe zhvillimin e komunitetit.
          <br><br>
        <a href="#">Përfaqësuesit</a> caktojnë strategjinë dhe japin direktiva të përgjithshme mbi organizimet, dhe marrin përsipër problematika të përbashkëta për grupet.
          <br><br>
        <a href="#">Ekipet teknike</a> përqendrohen në mirëmbajtjen dhe zhvillimin e rrjetit në mënyrë të qëndrueshme dhe të vazhdueshme.
          <br><br>
        <a href="#">Kontribuesit</a> mund të marrin pjesë në vendimmarrje me anë të propozimeve direkte, duke sugjeruar ndërhyrje organizative apo përmbajtjeje.
        </p>
    </div>
    <div style="flex: 1 1 45%;">
      <h2>Propozimet</h2>
      <p>
          Propozimet nga anëtarët e komunitetit vlerësohen në varësi të natyrës dhe përmbajtjes së tyre. Nëse një propozim mund të ketë ndikim pozitiv në të gjithë rrjetin, ai shqyrtohet nga Përfaqësia dhe transmetohet tek qytetet.
          <br><br>
          Personat që propozojnë pritet që ta ndjekin adaptimin e propozimit, duke kontribuar që të krijohen <a href="#">nisma</a> apo ekipe.
          <br><br>
      </p>
      <h2>Koha </h2>
      <p>
        Rrjeti organizohet në mënyrë vullnetare, që e bën shpeshherë pranimin dhe
        aplikimin propozimeve të ngadaltë.
        
        <br><br>
        Gjithësesi, propozimet ruhen në forum,
        dhe nëse ka kapacitet nga komuniteti ato aplikohen.
        </p>
    </div>
  </div>
</div>
</section>

<br><br><br>

<section class="history">
<header>
  <h1>
    <span>Bashkëpunojmë</span></h1>
</header>

<div class="program-section" style="background-color: {{ bgColors[3] }}; padding: 2rem 2rem; border-radius: 10px; margin-bottom: 3rem;">
  <div class="col">

    <div style="flex: 1 1 45%;">
      <h2>Bazuar në vlera</h2>
      <p>
          Bashkëpunimet në IllyrianBrains nuk bëhen thjesht për qëllime praktike – ato lindin nga përputhshmëria në vlera: respekt, angazhim, dhe dëshirë për të krijuar ndikim afatgjatë.
          <br><br>
          Qoftë me organizata, qendra kulturore, rrjete profesionale apo individë të diasporës, ne bashkëpunojmë kur ka përputhje të qëllimeve dhe kulturës.
        </p>

      <h2>Për nisma me ndikim</h2>
      <p>
          Nëse ke një ide, program apo projekt që ndihmon profesionistët shqipfolës, dhe përputhet me mënyrën tonë të punës, mund të propozojmë një bashkëpunim të hapur dhe të strukturuar.
        </p>
    </div>

    <div style="flex: 1 1 45%;">
      <h2>Forma të ndryshme</h2>
      <p>
          Bashkëpunimet mund të jenë të ndryshme: ndarje e platformave, bashkë-organizim eventesh, kontribuim në përmbajtje, apo ndihmë teknike e komunikative për nisma ekzistuese.
        </p>

      <h2>Hapësirë për të gjithë</h2>
      <p>
          Jemi të hapur ndaj bashkëpunimeve që i japin kuptim rrjetit, e i shërbejnë si diasporës ashtu edhe komuniteteve lokale. 
          Nëse ndihesh i frymëzuar nga çka po ndërtojmë – shkruajmë, takohemi, dhe nisim diçka së bashku.
        </p>
    </div>
  </div>
</div>
</section>

<br><br><br>
<section class="history">
<header>
  <h1>
    <span>Info</span></h1>
</header>
<div class="program-section" style="background-color: {{ bgColors[4] }}; padding: 4rem 2rem; border-radius: 10px;">
  <div class="col">
    {% for slug, category in forum_posts %}
      {% if slug == 'Udhëzime' %}
        {% include "partials/forumTopicCategory.njk" %}
      {% endif %}
    {% endfor %}

    <div>
      <h2>Na kontakto!</h2>
      <p>
          Kjo faqe është ende në zhvillim, por nëse ke një pyetje rreth IllyrianBrains - për mënyrën si funksionon komuniteti, si të përfshihesh, apo ndonjë temë tjetër - mos hezito të na kontaktosh me <a href="mailto:illyrianbrains@gmail.com">email</a> ose përmes <a href="https://www.linkedin.com/company/illyrian-brains">LinkedIn</a>.
        </p>
    </div>
  </div>
</div>
</section>