---
id: home
layout: layouts/base
css:
- home.css
---

<section>
  <header class="vevent">
    <br><br>
    <h2 class="summary">IllyrianBrains, nje rrjet qe bashkon profesionistet shqipfoles.</h2>

    <br><br><br>
    <a href="{{ next.url }}" class="block" target="_blank">
      <p class="next-icon">Eventi pasardhes</p>
      <h3><abbr class="url dtstart" title="{{ next.date }}">{{ next.date | format }}</abbr></h3>
    </a>
    <a href="{{ collections.posts.url }}" class="next">
      <p class="post-icon">Postimi i fundit ne forum</p>
      <h3 class="url">{{ collections.posts.data.title }}</h3>
    </a>
  </header>

</section>
