<div class="footer dark">
  <div class="container w-container">
    <div class="footer-wrapper">
      <!-- Logo and Copyright -->
      <div class="footer-brand-wrapper">
        <div class="b24">
          <a href="/" aria-current="page" class="navbar-brand w-nav-brand w--current">
            <img src="assets/img/logo.png" loading="lazy" alt="IllyrianBrains Logo" class="nova-logo-footer" />
          </a>
        </div>
        <div class="text-secondary">
          <div class="body-p small">
            Copyright 2025 © IllyrianBrains.<br />
            Të gjitha të drejtat e rezervuara.
          </div>
        </div>
      </div>

      <!-- Sitemap Sections -->
      <div class="sitemap-wrapper">


        <!-- Rrjeti -->
        <div class="footer-column">
          <div class="body-p footer-section dark">Rrjeti</div>
          <a href="/content/rrjeti#qytetet" class="footer-link dark">Qytetet e IB</a>
          <a href="/content/rrjeti#profesionistet" class="footer-link dark">Profesionistët</a>
          <a href="/content/rrjeti#nismat" class="footer-link dark">Nismat</a>
        </div>

        <!-- Evente -->
        <div class="footer-column">
          <div class="body-p footer-section dark">Evente</div>
          <a href="/content/evente#happyhours" class="footer-link dark">HappyHours</a>
          <a href="/content/evente#webinare" class="footer-link dark">Webinare</a>
          <a href="/content/evente#speciale" class="footer-link dark">Speciale</a>
        </div>

        <!-- Komunikime -->
        <div class="footer-column">
          <div class="body-p footer-section dark">Komunikime</div>
          <a href="/content/evente#happyhours" class="footer-link dark">Forumi</a>
          <a href="/content/evente#happyhours" class="footer-link dark">Publikime</a>
          <a href="/content/evente#webinare" class="footer-link dark">Fushata Informimi</a>
        </div>

        <!-- Rreth Nesh -->
        <div class="footer-column">
          <div class="body-p footer-section dark">Rreth Nesh</div>
          <a href="/content/rreth-nesh#misioni" class="footer-link dark">Manifesto</a>
          <a href="/content/rreth-nesh#historiku" class="footer-link dark">Historiku</a>
          <a href="/content/rreth-nesh#perfaqesia" class="footer-link dark">Përfaqësia</a>
          <a href="/content/rreth-nesh#perfaqesia" class="footer-link dark">Vendimmarrja</a>
          <a href="/content/rreth-nesh#ekipet" class="footer-link dark">Ekipet</a>
          <a href="/content/rreth-nesh#falenderime" class="footer-link dark">Falenderime</a>
        </div>
        
        <!-- Contact -->
        <div class="footer-column">
          <div class="body-p footer-section dark">Na Kontakto</div>
          <a href="mailto:illyrianbrains@gmail.com" class="footer-link dark underlined">illyrianbrains@gmail.com</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
