<div>
    {% for slug, category in forum_posts %}

        {% if slug == program %}
            {% if category.description %}
                <p class="group-description">{{ category.description | safe }}</p>
            {% endif %}

            <ul class="article-list">
                {% for topic in category.topics %}
                    {% if not topic
                        .title
                        .startsWith("About the")and not topic
                        .title
                        .startsWith('Hyrje ') %}
                        <li class="{{ topic.tags | join(' ') | slugify }}">
                            <div>
                                <a href="{{ topic.url }}">{{ topic.title }}</a>
                            </div>

                            <img src="https://forum.illyrianbrains.dev{{ topic.poster.avatar }}"
                        alt="{{ topic.poster.name }}"
                width="32" style="border-radius: 50%;">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>

<div>
    <p>
        {% for slug, group in forum_groups %}
            {% if slug == program %}
Grupi i punës: 
{% for person in group.members %}
                    {% if loop.index0 < 10 %}
                        <a style="text-decoration: none" href="https://forum.illyrianbrains.dev/u/{{ person.username }}">
                @{{ person.username }}</a>
                        {% if group.members.length > loop.index %} - {% else %}. {% endif %}
                    {% endif %}
                {% endfor %}

                {% if group.members.length > 10 %}
                    <a style="text-decoration: none" href="https://forum.illyrianbrains.dev/g/{{ group.slug }}">
                        {{group.members.length - 10}}+</a>.
{% endif %}

            {% endif %}
        {% endfor %}
    </p>
</div>