{% set isoDate = event.bumped_at or event.created_at %}
{% set year = isoDate.slice(0, 7) %}
<li
  class="talk-card"
  style="background-image: url({{ event.image_url or '/assets/images/default-bg.jpg' }}); height: 100px;"
  data-image="{{ event.image_url or '/assets/images/default-bg.jpg' }}"
  data-year="{{ year }}"
  data-tags="{% if event.tags %}{{ event.tags | join(' ') }}{% endif %}"
>
  <a href="https://forum.illyrianbrains.dev/t/{{ event.slug }}/{{ event.id }}" target="_blank">
    <header>
      {% if event.tags.length > 0 %}                                                                         
      <span class="pill" style="float: right">{{ event.tags }}</span>
      {% endif %}
      <p>{{ event.poster.username }}</p>
      <h2>{{ event.title }}</h2>
    </header>
  </a>
</li>