<div class="{{ className }}" id="card-{{ loop.index }}" data-index="{{ index }}"
ontouchstart="onTouchStart(event)" ontouchend="onTouchEnd(event)">
    {% set bgColor = lightColors[index % lightColors.length] %}
    <div class="card-image" style="background-color: {{bgColor}};" 
    style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
        <img src="{{ event.image_url or '/assets/images/default-bg.jpg' }}" alt="Event Image"/>
    </div>
    <div class="card-content">
        <h3>{{ event.title }}</h3> 

        <p>nga {{ event.poster.username }}</p>
        <div class="card-navigation" >
        {% if event.tags.length > 0 %}                                                                         
        <span class="pill" style="float: right">{{ event.tags }}</span>
        {% endif %}
            <div class="buttons">
                {% if index > 0 %}
                    <button onclick="previousCard()" class="previous-button">&#8592;</button>
                {% endif %}
                {% if index < 4 and loop.length > index + 1 %}
                    <button onclick="nextCard()" class="next-button">&#8594;</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>