<div>
    <h2>{{ category.name }}</h2>
    {% if category.description %}
        <p class="group-description">{{ category.description | safe }}</p>
    {% endif %}

    {% set lightColors = ['rgb(250, 192, 192)', 'rgb(255, 236, 179)', 'rgb(200, 230, 201)', 'rgb(187, 222, 251)', 'rgb(248, 187, 208)'] %}

    <div class="contenedor" id="card-container">
        {% set filteredTopics = category.topics  | rejectattr("title", "startsWith", "About the")      | rejectattr("title", "startsWith", "Hyrje ")      %}


        {% for event in filteredTopics %}
                {% set index = loop.index0 %}

                {% if index == 0 %}
                    {% set className = "card principal" %}
                {% elseif index == 1 %}
                    {% set className = "card siguiente" %}
                {% elseif index == 2 %}
                    {% set className = "card siguiente2" %}
                {% elseif index == 3 %}
                    {% set className = "card anterior" %}
                {% elseif index == 4 %}
                    {% set className = "card anterior2" %}
                {% else %}
                    {% set className = "card oculto" %}
                {% endif %}
                {% include "partials/forumSliderTopic.njk" %}
            {% endif %}
        {% endfor %}
    </div>

    <div id="div-transparent-previous" class="ocultar" onclick="previousCard()"></div>
    <div id="div-transparent-next" class="" onclick="nextCard()"></div>
</div>